body {
    margin: 0;
    padding: 0;
}
.animations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 105vh 0;
}
.animations .lottie-animation,
.animations .walkway-animation {
    display: flex;
    width: 200px;
    height: 150px;
    background: burlywood;
}
.animations .lottie-animation {
    margin: 0 7px 0 auto;
}
.animations .walkway-animation {
    margin: 0 auto 0 8px;
}
.animations svg {
    display: block;
    width: 100%;
    height: auto;
}